NodeRed_external_broker.txt
[
    {
        "id": "b87e8969.6de828",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "635b7dbf.f51cd4",
        "type": "mqtt in",
        "z": "b87e8969.6de828",
        "name": "",
        "topic": "pico_w/test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e05017c9.60fb88",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 186,
        "y": 228,
        "wires": [
            [
                "1bb222d9.b2e4ad",
                "c799157f.1953b8",
                "86aa26b5.7c5438",
                "4581420a.1f21ac",
                "6ce41e1f.e5bbc",
                "e338cbde.874cd8"
            ]
        ]
    },
    {
        "id": "1bb222d9.b2e4ad",
        "type": "ui_text",
        "z": "b87e8969.6de828",
        "group": "435a5e3f.c562a",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "energy",
        "label": "",
        "format": "<font size =\"20\">{{msg.payload.energy}}</font>kWh",
        "layout": "row-right",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "c799157f.1953b8",
        "type": "ui_text",
        "z": "b87e8969.6de828",
        "group": "435a5e3f.c562a",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "voltage",
        "label": "",
        "format": "<font size =\"20\" color=\"red\">{{msg.payload.voltage}}</font><font color=\"red\">V</font>",
        "layout": "row-left",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "86aa26b5.7c5438",
        "type": "ui_text",
        "z": "b87e8969.6de828",
        "group": "435a5e3f.c562a",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "current",
        "label": "",
        "format": "<font size =\"20\"  color=\"cyan\">{{msg.payload.current}}</font><font color=\"cyan\">A</font>",
        "layout": "row-right",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "4581420a.1f21ac",
        "type": "ui_text",
        "z": "b87e8969.6de828",
        "group": "435a5e3f.c562a",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "power",
        "label": "",
        "format": "<font size =\"20\" color=\"yellow\">{{msg.payload.power}}</font><font color=\"yellow\">W</font>",
        "layout": "row-right",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "6ce41e1f.e5bbc",
        "type": "debug",
        "z": "b87e8969.6de828",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 432.5,
        "y": 486,
        "wires": []
    },
    {
        "id": "e338cbde.874cd8",
        "type": "function",
        "z": "b87e8969.6de828",
        "name": "function 1",
        "func": "msg.payload = msg.payload.power\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 380,
        "wires": [
            [
                "498ccd16.060384"
            ]
        ]
    },
    {
        "id": "498ccd16.060384",
        "type": "ui_chart",
        "z": "b87e8969.6de828",
        "name": "",
        "group": "ba22db935a3787a2",
        "order": 6,
        "width": "27",
        "height": "14",
        "label": "power",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#f5e52e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 656,
        "y": 382,
        "wires": [
            []
        ]
    },
    {
        "id": "e05017c9.60fb88",
        "type": "mqtt-broker",
        "name": "local",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "435a5e3f.c562a",
        "type": "ui_group",
        "name": "D69",
        "tab": "148e3000.45daa",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ba22db935a3787a2",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "148e3000.45daa",
        "order": 2,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "148e3000.45daa",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]